{{#if isBlank}}
{{else}}
{{#if isAwaitingResults}}
  <div class="search__item no-results" tabindex="0" aria-label="{{{awaitingResultsMessage}}}" role="region">
    <div class="search__item-inner">
      {{{awaitingResultsMessage}}}
    </div>
  </div>
{{else}}
  {{#each formattedResults}}
    <button class="search__item" data-id="{{id}}" aria-label="{{{searchTitle}}}. {{{textPreview}}}">
      <div class="search__item-inner">
        <div class="search__item-title">
          {{#if ../_showHighlights}}
            {{{searchTitleTagged}}}
          {{else}}
            {{{searchTitle}}}
          {{/if}}
        </div>
        {{#if textPreview}}
          <div class="search__item-preview">
            "{{#if ../_showHighlights}}
              {{{textPreviewTagged}}}
            {{else}}
              {{{textPreview}}}
            {{/if}}"
          </div>
        {{/if}}
        {{#if ../_showFoundWords}}
        <div class="search__item-foundwords">
          <i>
            {{{foundWords}}}
          </i>
        </div>
        {{/if}}
      </div>
    </button>
  {{else}}
    <div class="search__item no-results" tabindex="0" aria-label="{{{noResultsMessage}}}" role="region">
      <div class="search__item-inner">
        {{{noResultsMessage}}}
      </div>
    </div>
  {{/each}}
{{/if}}
{{/if}}
