{{#if isBlank}}

{{else}}

{{#if isAwaitingResults}}
<div class="search__item no-results" aria-label="{{{awaitingResultsMessage}}}">
  <div class="search__item-inner">
    {{{awaitingResultsMessage}}}
  </div>
</div>

{{else}}

{{#each formattedResults}}
<button class="search__item drawer__item-btn" data-id="{{id}}" aria-label="{{{title}}}. {{{textPreview}}}">
  <div class="search__item-inner">

    <div class="search__item-title drawer__item-title">
      <div class="search__item-title-inner drawer__item-title-inner">
        {{#if ../_showHighlights}}
        {{{titleTagged}}}
        {{else}}
        {{{title}}}
        {{/if}}
      </div>
    </div>

    {{#if textPreview}}
    <div class="search__item-preview drawer__item-body">
      <div class="search__item-preview-inner drawer__item-body-inner">
        "{{#if ../_showHighlights}}
        {{{textPreviewTagged}}}
        {{else}}
        {{{textPreview}}}
        {{/if}}"
      </div>
    </div>
    {{/if}}

    {{#if ../_showFoundWords}}
    <div class="search__item-foundwords drawer__item-body">
      <div class="search__item-foundwords-inner drawer__item-body-inner">
        {{{foundWords}}}
      </div>
    </div>
    {{/if}}

  </div>
</button>

{{else}}

<div class="search__item no-results" aria-label="{{{noResultsMessage}}}">
  <div class="search__item-inner">
    {{{noResultsMessage}}}
  </div>
</div>
{{/each}}

{{/if}}
{{/if}}
